.companyContainer{
    background-color:#EEE9DA ;
     height: 100%;
}

.title {
  font-size: 35px;
  color: #0c356a;
}
.customeItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  background-color: #91C8E4;
}
.overFlow{
    overflow: auto;
    max-height: 250px;
    text-overflow: ellipsis;
}
.toast{
    color: white;
    font-size: 20px;
}